.login-modal {
  width: 220px;
  .ant-modal-title {
    text-align: center;
  }
  .ant-modal-close,
  .ant-modal-footer {
    display: none;
  }
  .ant-modal-content,
  .ant-modal-header {
    border-radius: 20px;
    border-bottom: none;
  }
  .ant-modal-title {
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ant-modal-body {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
  }
  .ant-input {
    line-height: 2.2;
  }
  .ant-form-item-control-input-content {
    justify-content: center;
    display: flex;
  }
  .login-other {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
  }
  .login-input {
    background-color: #ecf0f1;
    border-radius: 20px;
  }
  .login-input input {
    background-color: #ecf0f1;
  }
  .social-login-button {
    min-width: 50px;
    min-height: 40px;
    border-style: none;
  }
  .social-login-icon {
    min-width: 20px;
    min-height: 20px;
  }
  .login-submit {
    border-radius: 20px;
    border-style: none;
    font-size: 16px;
    padding: 0px 20px;
    background-color: #2ecc71;
  }
  .login-submit:hover {
    border-color: #2ecc71;
    border-style: solid;
    border-width: 2px;
    background-color: #ffffff;
    color: black;
  }
  .ant-form-item-control-input-content {
    display: flex;
    flex-direction: column;
  }
  .login-help-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
  }
  .login-help {
    font-weight: 500;
  }
  .login-help:hover {
    text-decoration: underline;
  }
}
